* {
  outline: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  padding-top: 100px;
  height: 100vh;
  background: #f7f7f7;
  color: #555555;
  overflow-x: hidden;
  font-family: Source Sans Pro, sans-serif;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.nav {
  position: absolute;
  background: #ffffff;
  height: 80px;
  width: 100vw;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.nav h1 span {
  color: #69a7f0;
  font-style: italic;
}

.grid {
  width: 50vw;
  height: 50vw;
  background: white;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: calc(50vw / 9);
  width: calc(50vw / 9);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #efefef;
  font-size: 22px;
  cursor: pointer;
}

.sqr-bdr-left {
  border-left: 1px #999 solid;
}

.sqr-bdr-right {
  border-right: 1px #999 solid;
}

.sqr-bdr-top {
  border-top: 1px #999 solid;
}

.sqr-bdr-bottom {
  border-bottom: 1px #999 solid;
}

.controls {
  background: white;
  width: 30vw;
  margin-left: 50px;
  border: 1px #efefef solid;
  padding: 25px;
}

.controls .button,
.reset-btn {
  width: 100%;
  height: 100px;
  color: #fff;
  font-size: 22px;
  background: #69a7f0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.reset-btn {
  width: 250px;
  height: 80px;
}

.controls .button.green {
  background-color: green;
  height: 60px;
  margin-top: 20px;
}

.controls .button:hover {
  background: #65a1e6;
}

.controls .number-option-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.controls .number-option-container .number-options {
  width: 33%;
  height: 100px;
  border: 1px #efefef solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  cursor: pointer;
}

.controls .number-option-container .number-options:hover {
  background: #f3f6fa;
}

.count {
  height: 30px;
  margin-bottom: 20px;
}

.square.hidden:hover {
  background: #f3f6fa;
  cursor: pointer;
}

.square.hidden.correct {
  color: green;
}

.square.hidden.incorrect {
  color: red;
}

.square.hidden.peekcorrect {
  background: green;
  color: #ffffff;
}

.square.hidden.peekincorrect {
  background: red;
  color: #ffffff;
}

.square.clickedNumber {
  background: #d7dfeb;
}

.added {
  color: #69a7f0;
}

.count {
  font-size: 20px;
  text-align: center;
}

#display-screen {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  display: none;
}

#display-screen.showmessage {
  display: flex;
}

#display-screen .message-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  padding: 1rem;
  text-align: center;
}

#display-screen .message-container h2 {
  font-size: 42px;
  text-align: center;
}

#finalTime {
  color: green;
  font-size: 26px;
  padding-bottom: 2rem;
}

#name {
  width: 80%;
  align-self: center;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
}

#closeBtn {
  position: absolute;
  right: 100px;
  top: 100px;
  z-index: 100;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  padding: 15px 20px;
  border-radius: 50%;
}

.count {
  display: flex;
}

.timerDisplay,
.difficulty-display {
  width: 50%;
}

.timerDisplay {
  text-align: left;
}

.difficulty-display {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: right;
  user-select: none;
}

.difficulty-display span {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.difficulty-display h3 {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.timerDisplay {
  display: flex;
  align-items: center;
}

#dropDown {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 20px 0px;
  width: 90%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  top: 190px;
  left: 5%;
  padding: 3% 3% 15%;
  z-index: 10;
  box-sizing: border-box;
}

#dropDown button {
  display: flex;
  background-color: rgb(243, 246, 250);
  border: 1px solid rgb(239, 239, 239);
  border-radius: 5px;
  font-size: 16px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 90%;
  margin: auto;
  transition: background-color 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#dropDown button:hover {
  background-color: #d7dfeb;
}

.timerDisplay svg {
  margin-left: 20px;
  fill: #d7dfeb;
  stroke: #d7dfeb;
  border-color: #d7dfeb !important;
}

@media (max-width: 800px) {
  body {
    padding: 0;
    margin: 100px 0 0 0;
  }

  .square {
    height: 11.11%;
    width: 11.11%;
  }

  .grid {
    width: 90vw;
    height: 90vw;
    margin: 5vw;
  }

  .controls {
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
  }

  #root {
    flex-direction: column;
  }

  #start-game {
    padding: 5px;
    height: 60px;
  }

  .number-option-container {
    order: -1;
    margin-bottom: 10%;
  }

  .number-options {
    width: 15%;
  }
}
