* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  padding-top: 100px;
  height: 100vh;
  background: #f7f7f7;
  color: #555555;
  overflow-x: hidden;
  font-family: Source Sans Pro, sans-serif;
}

#root {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nav {
  position: absolute;
  background: #ffffff;
  height: 80px;
  width: 100vw;
  top: 0;
  left: 0;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.nav h1 span {
  color: #69a7f0;
  font-style: italic;
}

.grid {
  width: 60vh;
  height: 60vh;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.square {
  height: calc(60vh / 9);
  width: calc(60vh / 9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #efefef;
  font-size: 22px;
  cursor: pointer;
  position: relative;
  color: #666;
  font-weight: 300;
  font-size: 36px;
}

.square .notes {
  font-size: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #999;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.square .notes span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.sqr-bdr-left {
  border-left: 1px #999 solid;
}

.sqr-bdr-right {
  border-right: 1px #999 solid;
}

.sqr-bdr-top {
  border-top: 1px #999 solid;
}

.sqr-bdr-bottom {
  border-bottom: 1px #999 solid;
}

.controls {
  background: white;
  width: 30vw;
  margin-left: 50px;
  border: 1px #efefef solid;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.controls .button,
.reset-btn,
.display button.start {
  width: 100%;
  height: 100px;
  color: #fff;
  font-size: 22px;
  background: #69a7f0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.display button.start {
  max-width: 500px;
}

.reset-btn {
  width: 250px;
  height: 80px;
}

.controls .button.green {
  background-color: green;
  height: 60px;
  margin-top: 20px;
}

.controls .button:hover {
  background: #69a7f0;
}

.controls .number-option-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.controls .number-option-container .number-options {
  width: 33%;
  height: 100px;
  border: 3px #fff solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  cursor: pointer;
  background-color: #f3f6fa;
  border-radius: 5px;
}

.controls .number-option-container .number-options:hover {
  background: #d6dfeb;
}

.in-game-controls {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 10px auto;
}

.in-game-controls button {
  padding: 15px 18px;
  background: #f3f6fa;
  font-size: 24px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  color: #69a7f0;
}

.in-game-controls button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

#start-game {
  min-height: 50px;
}

.count {
  height: 30px;
  margin-bottom: 20px;
}

.square.hidden:hover {
  background: #f3f6fa;
  cursor: pointer;
}

.square.hidden.correct {
  color: green;
}

.square.hidden.incorrect {
  color: red;
}

.square.hidden.peekcorrect {
  background: green;
  color: #ffffff;
}

.square.hidden.peekincorrect {
  background: red;
  color: #ffffff;
}

.square.clickedNumber {
  background: #d7dfeb;
}

.added {
  color: #69a7f0;
}

.count {
  font-size: 20px;
  text-align: center;
}

#finalTime {
  color: green;
  font-size: 36px;
  padding-top: 2rem;
}

#name {
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
}

#closeBtn {
  position: absolute;
  right: 100px;
  top: 100px;
  z-index: 100;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  padding: 15px 20px;
  border-radius: 50%;
}

.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timerDisplay,
.difficulty-display {
  width: 50%;
}

.timerDisplay {
  text-align: left;
}

.difficulty-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.difficulty-display span {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.difficulty-display h3 {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.timerDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#dropDown {
  position: absolute;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 20px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 20px 0px;
  width: 90%;
  background-color: white;
  text-align: center;
  top: 190px;
  padding: 3% 3% 15%;
  z-index: 30;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 30vw;
}

#dropDown.winner {
  top: 38%;
}

#dropDown button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f6fa;
  border: 1px solid #efefef;
  border-radius: 5px;
  font-size: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 50px;
  width: 90%;
  margin: auto;
  -webkit-transition: background-color 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background-color 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#dropDown button:hover {
  background-color: #d7dfeb;
}

.display {
  position: absolute;
  background: white;
  width: 100vw;
  height: calc(100vh - 80px);
  top: 80px;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

.message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.timerDisplay svg {
  margin-left: 20px;
  fill: #d7dfeb;
  stroke: #d7dfeb;
  border-color: #d7dfeb !important;
}

.tooltip {
  background-color: #33333390;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
  max-width: 150px;
}

.squarearrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tooltip[data-popper-placement^="top"] > .arrow {
  bottom: -4px;
}

.tooltip[data-popper-placement^="bottom"] > .arrow {
  top: -4px;
}

.tooltip[data-popper-placement^="left"] > .arrow {
  right: -4px;
}

.tooltip[data-popper-placement^="right"] > .arrow {
  left: -4px;
}

.tooltip {
  /* ... */
  display: none;
}

.tooltip[data-show] {
  display: block;
}

@media (max-width: 1000px) {
  body {
    padding: 0;
    margin: 100px 0 0 0;
  }
  .display img {
    width: 100%;
  }
  .square {
    height: calc(90vw / 9);
    width: calc(90vw / 9);
    font-size: 28px;
  }
  .grid {
    width: 90vw;
    height: 90vw;
    margin: 5vw;
    margin: auto;
    margin-bottom: 2%;
  }
  .controls {
    width: 95vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    padding: 10px 10px 30px;
    height: unset;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #root {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #start-game {
    padding: 5px;
    height: 60px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .in-game-controls {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 100px;
    margin: 0 auto;
  }
  .count {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .number-option-container {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 10%;
    width: 100%;
  }
  .controls .number-option-container .number-options {
    width: calc(90vw / 9 - 1px);
    border-width: 1px;
    margin: 0;
    padding: 0;
    height: calc(90vw / 9);
    font-size: 24px;
  }
  #dropDown {
    top: -44%;
    max-width: 90vw;
  }
  #dropDown.winner {
    top: 12%;
  }
  .tooltip {
    visibility: hidden;
  }
}

#leaderboard {
  width: 90vw;
  height: 150px;
  top: 10px;
  padding: 20px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#leaderboard li {
  list-style: none;
  padding-bottom: 10px;
}

#leaderboard button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: #444;
  color: #fff;
  text-transform: uppercase;
}

#leaderboard input {
  width: 100%;
  padding: 10px 20px;
}

#leaderboard .leader {
  width: 100%;
}

#leaderboard .leader li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#leaderboard .leader li .victor {
  position: absolute;
  top: 0;
  left: -20px;
  color: #69a7f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
}

#leaderboard .leader li span {
  font-family: inherit;
}

#leaderboard .leader li span:first-of-type {
  width: 70%;
}

#leaderboard .leader li .leader-name {
  font-weight: 700;
  font-size: 20px;
}

#leaderboard .leader li .leader-mode {
  font-size: 12px;
  text-transform: uppercase;
}

#leaderboard .leader li .leader-time {
  font-weight: 700;
}
/*# sourceMappingURL=index.css.map */